@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
	font-family: 'Overpass-Light';
	src: url("../fonts/Overpass-Light.woff")format('woff');
	font-style:normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Overpass-Regular';
	src: url("../fonts/Overpass-Regular.woff")format('woff');
	font-style:normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Overpass-SemiBold';
	src: url("../fonts/Overpass-SemiBold.woff")format('woff');
	font-style:normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Ubuntu-Regular';
	src: url("../fonts/Ubuntu-Regular.woff")format('woff');
	font-style:normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url("../fonts/Ubuntu-Medium.woff")format('woff');
	font-style:normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url("../fonts/Ubuntu-Bold.woff")format('woff');
	font-style:normal;
	font-weight: 700;
}

/* ################### GENERAL ################### */

* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
}

a:link,
:visited,
:active {
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	text-decoration: underline;
	color: hsl(240, 2%, 79%);
}

h1{
	padding: 0px;
	margin: 0px;
}

p{
	padding: 0px;
	margin: 0px;
}

.menuBt {
	width: 135px;
	height: 45px;
	font: 600 16px 'Ubuntu-Bold';
	border-radius: 28px;
}
/* ################### HEADER ################### */

header {
	width: 1440px;
	height: 600px;
	background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	border-bottom-left-radius: 100px;
	overflow: hidden;
}

header>div {
	text-align: center;
}

#header-main {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../images/bg-pattern-intro-desktop.svg") 25% 50% / 2241px no-repeat;
}

menu{
	width: 1112px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
	margin-top: 59px;
}

menu > div{
	height: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	font: 600 16px 'Ubuntu-Bold';
	color: white;
}

#menu-top {
	margin-right: 64px;
}

#top-logo {
	width: 101px;
	height: 40px;
	background: url("../images/logo.svg") center/101px no-repeat;
}

/* -------------- menu/desktop -------------- */

#menuDesktop-sections{
	width: 308px;
	justify-content: space-between;
}

#menu-login {
	width: 212px;
	justify-content: space-between;
}

#top-hamburger {
	display: none;
}

.menuSectionBt {
	height: 22px;
	line-height: 22px;
}

.menuSectionBt:hover {
	cursor: pointer;
	text-decoration: underline;
}

#menu-login{
	margin-left: auto;
}

/* -------------- menu/mobile -------------- */

#menuMobile {
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 430px;
	z-index: 3;
	border-radius: 5px;
	top: 130px;
	background-color: white;
	box-shadow: 0px 20px 40px #adadad;
}

#mobile-menu-icon:hover {
	cursor: pointer;
}

#mb-menu-login {
	width: 380px;
	height: 60px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-family: 'Overpass';
	font-size: 14pt;
	font-weight: 600;
	color: hsl(208, 49%, 24%);
	border-top: solid 1px #efeff1;
	margin: 25px auto;
}

#mb-menu-signup {
	margin: 20px auto 40px auto;
}

#learn-bt {
	color: white;
	border: solid 1px;
	background-color: hsla(356, 100%, 66%, 0);
}

#learn-bt:hover {
	cursor: pointer;
	color: hsla(356, 100%, 66%, 0.8);
	border: solid 1px;
	background-color: white;
}

/* -------------- header/content -------------- */

#header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 119px;
	color: white;
	text-align: center;
}

#header-content h1{
	width: 920px;
	height: 98px;
	font: 600 64px/98px 'Overpass-SemiBold';
	letter-spacing: -2px;
}

#header-content p{
	width: 440px;
	height: 31px;
	font: 300 20px/31px 'Overpass-Light';
}

#header-buttons {
	width: 290px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 48px;
}

/* ################### MAIN ################### */

#section-designed {
	width: 1440px;
	height: 960px;
	display: flex;
	flex-direction: column;
	background: url("../images/illustration-editor-desktop.svg") 150% 60% / 880px no-repeat;
}

#section-designed>div {
	font-family: 'Overpass';
	line-height: 1.4;
}

#designed-title {
	width: inherit;
	align-self: center;
	text-align: center;
	color: hsl(208, 49%, 24%);
	font-size: 28pt;
	font-weight: 600;
	margin-top: 150px;
}

#designed-content {
	width: 550px;
	align-self: flex-start;
	margin-left: 170px;
	margin-top: 70px;
}

#section-stateOf {
	width: 1440px;
	height: 400px;
	border-radius: 0px 90px 0px 90px;
	background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

#stateOf-container {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: url("../images/bg-pattern-circles.svg") -68% 82% / 1100px no-repeat;
}

#stateOf-container>div {
	height: 550px;
	font-family: 'Overpass';
	color: white;
	text-align: left;
}

#stateOf-image {
	width: 600px;
}

#stateOf-parag {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 530px;
}

#section-final {
	width: 1440px;
	height: 790px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: url("../images/illustration-laptop-desktop.svg") -68% 82% / 68% no-repeat;
	margin-top: 110px;

}

#final-content {
	width: 520px;
	height: 420px;
	font-family: 'Overpass';
	line-height: 1.4;
	margin-right: 175px;
}

/* ################### FOOTER ################### */

footer {
	width: 1440px;
	height: 360px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	background-color: hsl(240, 10%, 16%);
	border-radius: 0px 90px 0px 0px;
}

#footer-logo {
	width: 280px;
	height: 240px;
	text-align: center;
	margin-top: 50px;
}

.arrow-inactive {
	margin-left: 7px;
}

.arrow-active {
	margin-left: 7px;
	transform: scaleY(-1);
}

.mb-menu-section {
	font-family: 'Overpass';
	font-weight: 600;
	font-size: 15pt;
	color: hsl(208, 49%, 24%);
	margin: 30px auto;
	text-align: center;
}

.mb-menu-section:hover {
	cursor: pointer;
}

.mb-menu-subsec {
	width: 380px;
	display: none;
	background-color: #efeff1;
	border-radius: 5px;
	text-align: center;
}

.mb-menu-subsec {
	cursor: pointer;
}

.mb-submenu-link {
	margin-left: 25px;
	color: #5d646c;
	font-family: 'Overpass';
	font-size: 12pt;
	font-weight: 400;
}

.mb-submenu-link:hover {
	cursor: pointer;
	font-weight: 600;
}

.submenu {
	width: 170px;
	display: none;
	z-index: 10;
	position: absolute;
	background-color: white;
	border-radius: 5px;
	text-align: left;
	margin-top: 25px;
}

.submenu-link {
	margin-left: 25px;
	color: hsl(237, 23%, 32%);
	font-family: 'Ubuntu';
	font-size: 11pt;
	font-weight: 400;
}

.submenu-link:hover {
	cursor: pointer;
	font-weight: 700;
}

.headerTitle {
	font-size: 40pt;
	font-weight: 600;
}

.signup-start-bt {
	color: hsl(356, 100%, 66%);
	border: none;
	background-color: white;
}

.mb-signup-start-bt {
	color: white;
	border: none;
	background-color: hsl(356, 100%, 66%);
}

.signup-start-bt:hover {
	cursor: pointer;
	color: white;
	background-color: hsla(0, 0%, 100%, 0.2);
}

.mb-signup-start-bt:hover {
	cursor: pointer;
	color: white;
	background-color: hsla(356, 100%, 66%, 0.5);
}

.default-title {
	color: hsl(208, 49%, 24%);
	font-size: 20pt;
	font-weight: 600;
}

.default-text {
	color: hsl(207, 13%, 34%);
	font-size: 13pt;
	font-weight: 300;
}

.stateOf-title {
	font-size: 28pt;
	font-weight: 600;
	line-height: 0.1;
}

.stateOf-text {
	font-size: 13pt;
	font-weight: 300;
	line-height: 1.8;
}

.footer-section {
	width: 280px;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 11pt;
	margin-top: 50px;
}

.footer-sectionTitle {
	font-weight: 500;
	color: white;
	margin-bottom: 30px;
}

.footer-link {
	font-weight: 400;
	color: hsl(240, 2%, 79%);
}

/*##################################################################################*/
/*##############################  MOBILE VERSION  ##################################*/
/*##################################################################################*/

@media screen and (max-width: 480px) {
	header {
		width: 480px;
	}

	#header-main {
		align-items: center;
		background: url("../images/bg-pattern-intro-mobile.svg") 40% 35% / 1400px no-repeat;
	}

	menu {
		flex-direction: column;
		width: inherit;
		height: 45px;
		align-items: center;
		justify-content: center;
		margin: 50px 0px 0px;
		padding:0px;
	}

	#menu-top {
		width: 400px;
	}

	#top-logo {
		width: 368px;
		text-align: left;
	}

	#top-hamburger {
		display: block;
		text-align: right;
	}

	#header-content {
		width: 400px;
		height: 250px;
		margin-top: 40px;
		line-height: 1.2;
		text-align: center;
	}

	#section-designed {
		width: 480px;
		height: 1950px;
		background: url("../images/illustration-editor-mobile.svg") center 250px / 480px no-repeat;
	}

	#designed-title {
		font-size: 27pt;
	}

	#designed-content {
		width: 400px;
		margin: 460px auto auto auto;
		text-align: center;
	}

	#section-stateOf {
		width: 480px;
		height: 825px;

	}

	#stateOf-container {
		width: inherit;
		justify-content: flex-end;
		flex-direction: column;
		background: url("../images/bg-pattern-circles.svg") 50% -240px / 600px no-repeat;

	}

	#stateOf-container>div {
		width: 400px;
		text-align: center;
	}

	#stateOf-parag {
		margin-bottom: 100px;
	}

	#stateOf-image>img {
		width: 400px;
	}

	#section-final {
		width: 480px;
		height: 1200px;
		background: url("../images/illustration-laptop-mobile.svg") center 0% / 110% no-repeat;
		margin-top: 50px;
	}

	#final-content {
		width: 410px;
		height: 420px;
		margin: 370px auto auto auto;
		text-align: center;
	}

	footer {
		width: 480px;
		height: 900px;
		flex-direction: column;
		align-items: center;
	}

	#footer-logo {
		height: 90px;
		margin-top: 0px;
	}

	#menuDesktop{
		display: none;
	}

	.default-title {
		font-size: 26pt;
	}

	.default-text {
		font-size: 18pt;
	}

	.stateOf-title {
		font-size: 28pt;
		font-weight: 600;
		line-height: 1.1;
	}

	.stateOf-text {
		font-size: 18pt;
		font-weight: 300;
		line-height: 1.8;
	}

	.footer-section {
		font-size: 12pt;
		margin-top: 0px;
	}

	.footer-sectionTitle {
		margin-top: 30px;
	}
}